html,
body {
  height: 100%;
  font-family: 'Bitter', 'Georgia', 'Garamond', 'Times New Roman', 'Times', serif;
  padding: 0;
  margin: 0;
  overflow: auto;
  background: #A0A0A0;
}

h2, h3 {
    font-family: 'Bitter', 'Georgia', 'Garamond', 'Times New Roman', 'Times', serif;
}

.outputArea {
  height:400px;
  overflow-y: scroll;
}
